*{
	margin:0;
	padding:0;
	outline:0;
}
img {
	display: inline-block;
	background-size: cover;
}
ul,li , button , h1,h2,h3,h4,h5,h6, input , a{
	padding : 0;
	margin: 0; 
}

#header_part{
	    background-color: whitesmoke;
	height: 50px;
	
}

 .heading_left  li {
	list-style: none;
	float:left;
	margin-right: 15px;
}

.logo {
	margin-top:-10px;
}


.btn {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .30rem;
   
}

.heading_middle  li {
	float:left;
	margin-top:-10px;
	margin-right: 15px;
	list-style: none;
		
}

.heading_right form{
	margin-top:6px;
	float:right;
}


